:root {
  --colors-interface-secondary: #000000;
  --colors-interface-primary: #213fb4;
  --colors-interface-grey: #666666;
  --colors-interface-light-grey: #d9d9d9;
  --colors-interface-light-blue: #e5eff9;
  --colors-interface-white: #ffffff;
  --colors-interface-lighter-grey: #f9f9f9;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body {
  width: 100%;
  margin: 0;
}

.m-0 {
  margin: 0;
}

.p-0 {
  padding: 0;
}

.list {
  list-style: none;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.text {
  font-family: "Trial", sans-serif;
}

.text_size_small {
  font-size: 12px;
  line-height: 16px;
}

.text_size_medium {
  font-size: 14px;
  line-height: 20px;
}
