.mainContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerForContacts {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navWrapper {
  padding: 8px 0;
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
}

.navigation {
  background-color: var(--colors-interface-lighter-grey);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 15px;
  box-sizing: border-box;
}

.b2bContent {
  color: var(--colors-interface-secondary);
  font-weight: 500;
}

.contactsContent {
  color: var(--colors-interface-text-grey);
  font-weight: 500;
}

.inspirationContent {
  color: var(--colors-interface-primary);
  width: 113px;
  height: 16px;
  border: 0;
  border-radius: 12px;
  background-color: var(--colors-interface-light-blue);
  padding: 0 16px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  cursor: pointer;
  font-weight: 500;
}

.contentWithArrow {
  display: flex;
  align-items: center;
}
