.container {
  display: flex;
  justify-content: center;
  background-color: rgba(254, 241, 214, 1);
  padding: 8px;
  box-sizing: border-box;
}

.button {
  background: none;
  border: 0;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
}

.image {
  width: 100%;
}

.textContent {
  text-align: center;
}
