@keyframes rotationArrowUp {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
  }
}

@keyframes rotationArrowDown {
  0% {
    -webkit-transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

.arrowDown:hover {
  -webkit-animation: rotationArrowUp 0.3s linear both;
}

.arrowDown {
  -webkit-animation: rotationArrowDown 0.3s linear;
}

.arrowRight {
  width: 16px;
  height: 16px;
}

.dropDownContentForNoteBook {
  display: none;
  position: absolute;
  z-index: 2;
  background-color: var(--colors-interface-white);
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  padding: 10px 0 10px 16px;
  box-sizing: border-box;
  min-width: 196px;
  top: 16px;
  right: -90%;
}

.dropDownContent {
  display: none;
  position: absolute;
  z-index: 1;
  min-width: 196px;
  background-color: var(--colors-interface-white);
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  padding: 10px 0 10px 16px;
  box-sizing: border-box;
}

.dropDownContainer {
  position: relative;
  display: inline-block;
}

.dropDownContainer:hover .dropDownContent {
  display: block;
}

.dropDownContainer:hover .dropDownContentTitle {
  color: var(--colors-interface-secondary);
}

.dropDownContainerForNotebook:hover .dropDownContentForNoteBook {
  display: block;
}

.contentWithArrow:hover {
  background-color: var(--colors-interface-lighter-grey);
}

.dropDownContainer:hover .arrowDown {
  -webkit-animation: rotationArrowUp 0.3s linear both;
}

.mainContainer {
  display: flex;
  width: 100%;
  padding: 0 15px;
  margin-top: 20px;
  max-width: 1310px;
  box-sizing: border-box;
  font-weight: 500;
}
.border {
  width: 100%;
  max-width: 1280px;
  border-bottom: 1px solid var(--colors-interface-light-grey);
}

.itemsList {
  display: flex;
  margin-left: 64px;
  gap: 16px;
  box-sizing: border-box;
}

.dropDownContentTitle {
  display: flex;
  align-items: center;
  color: inherit;
}

.menuContent {
  color: inherit;
  font-weight: 500;
}

.menuSelectedContent {
  color: var(--colors-interface-secondary);
}

.dropDownContainerForNotebook {
  color: var(--colors-interface-secondary);
}

.content {
  color: var(--colors-interface-secondary);
  margin-bottom: 6px;
}

.unactiveContent {
  color: var(--colors-interface-grey);
  margin-bottom: 6px;
}

.contentWithArrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.separator {
  background-color: var(--colors-interface-light-grey);
  height: 1px;
  min-width: 196px;
  margin: 11px 0 16px;
}

.tab {
  height: 36px;
  color: var(--colors-interface-grey);
}

.selectedTab {
  border-bottom: 1px solid var(--colors-interface-secondary);
  color: var(--colors-interface-secondary);
  font-weight: 500;
}

.button {
  width: 57px;
  height: 32px;
  background-color: var(--colors-interface-light-grey);
  border-radius: 4px;
  border: none;
  padding: 6px 12px;
  box-sizing: border-box;
  font-weight: 500;
}

.wrapperForButton {
  display: flex;
  align-items: flex-start;
  margin-left: auto;
}
